<div id="modal-add-edit" class="modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formMaintainance">
                    <div class="tab-content">
                        <div class="form-group">
                            <input type="hidden" id="hidId" value="0" />
                            <label for="txtTitle" class="col-sm-auto control-label no-padding-right">Tiêu đề </label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtTitle" name="txtTitle" placeholder="Tiêu đề">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group col-sm-12">
                                    <label for="txtNewsType" class="control-label no-padding-right">Thể loại </label>
                                    <select class="custom-select" id="txtNewsType" name="txtNewsType">
                                        <option value="">--</option>
                                        <option value="Travel">Du lịch</option>
                                        <option value="Life">Đời sống và giải trí</option>
                                        <option value="Entertainment">Ẩm thực</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group col-sm-12">
                                    <label for="txtAuthor" class="control-label no-padding-right">Tác giả </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtAuthor" name="txtAuthor" placeholder="Tác giả">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtSummary" class="col-sm-auto control-label no-padding-right">Bản tóm tắt </label>
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" id="txtSummary" name="txtSummary" placeholder="Bản tóm tắt"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtContent" class="col-sm-auto control-label no-padding-right">Nội dung </label>
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" id="txtContent" name="txtContent" placeholder="Nội dung"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtImage" class="col-sm-auto control-label no-padding-right">Hình ảnh</label>
                                    <div class="d-flex">
                                        <div class="col-sm-10" style="display:none">
                                            <input type="text" class="form-control" id="txtImageShow" disabled />
                                            <input type="text" class="form-control" id="txtImage" name="txtImage" hidden />
                                            <input type="file" id="fileInputImage" style="display:none" />
                                        </div>
                                        <div class="col-sm-2">
                                            <img id="imagePreview" src="~/assets/images/user.png" alt="Preview" style="max-width: 100px; max-height: 100px;" />
                                        </div>
                                    </div>
                                    <div class="col-sm-2 mt-1">
                                        <input type="button" style="width:100px" id="btnSelectImg" class="btn btn-primary" value="Chọn ảnh" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox pl-4">
                                        <input type="checkbox" class="custom-control-input" checked="checked" id="ckStatus" name="ckStatus">
                                        <label class="custom-control-label" for="ckStatus">Trạng thái</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox pl-4">
                                        <input type="checkbox" class="custom-control-input" checked="checked" id="ckHot" name="ckHot">
                                        <label class="custom-control-label" for="ckHot">Nổi bật</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                <button type="button" id="btnSaveAndContinue" class="btn btn-success">Lưu và Tiếp tục</button>
                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>