.banner-ask-question{
    text-align: center;
    padding: 251px 0;
    background: url(../img/bg_ask-question.webp) no-repeat bottom left;
    background-size: 100% auto;
}
.banner-ask-question h2{
    font-family: Arimo;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 112px; /* 200% */
    letter-spacing: -1.12px;
}
.banner-ask-question p{
    text-align: center;
    font-family: Arimo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 126.667% */
    color: #646464;
}
.content-ask-question{
    padding: 60px 0;
    background: rgba(15, 114, 58, 0.75);
}
.body-ask-question{
    width: 808px;
    margin: 0 auto;

}
.body-ask-question .accordion-header{
    padding: 16px;
    background-color: #78E378;
    border-radius: 8px;
    color: #171717;
    cursor: pointer;
    padding-left: 48px;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    position: relative;
}
.body-ask-question .accordion-header::before{
    content: "";
    position: absolute;
    left: 16px;
    top: 16px;
    background: url(../img/icon/Arrows.webp) no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
}
.body-ask-question .accordion-item .accordion-content{
    background-color: #fff;
    padding: 0 10px 16px;
    padding-left: 48px;
    font-size: 14px;
    color: #646464;
}
.body-ask-question .accordion-item{
    transition: 0.2s ease-in-out;
    border: 2px solid #78E378;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
}
.body-ask-question .accordion-item.isActive{
    background-color: #fff;
    border: 2px solid #0F723A;
}
.body-ask-question .accordion-content{
    display: none;
}
.body-ask-question .accordion-header.active{
    background-color: #fff;
    border-radius: 0;
}
.body-ask-question .accordion-header.active::before{
    transform: rotate(0deg);
}
@media (max-width: 900px) {
    .body-ask-question{
        width: 100%;
        padding: 0 20px ;
    
    }
}
@media (max-width: 768px) {
    .banner-ask-question h2{
        font-size: 40px;
        line-height: 90px;
    }
    .banner-ask-question p{
        font-size: 20px;
    }
    .banner-ask-question{
        padding: 140px 0;
    }
}
@media (max-width: 640px) {
    .banner-ask-question h2 {
        font-size: 24px;
        line-height: 20px;
    }
    .banner-ask-question p {
        font-size: 12px;
    }
}