/* ----------------- calculate ----------------------*/
.clone-html{
    display:none;
}
.wrap-step-calculate select{
    background-color:#fff;
}
.delete-row {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid #db0606;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}
    .delete-row:before {
        content: "";
        position: absolute;
        width: 21px;
        height: 4px;
        border-radius: 5px;
        background-color: #db0606;
        margin-left: 20px;
        cursor: pointer;
        left: -13px;
        top: 15px;
    }
    .wrap-carbon-calculate .introduce {
        padding-block: 100px;
        display: flex;
        align-items: center;
        min-height: 440px;
        background: url("../img/carbon-calculate/grassland.png") no-repeat center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
  
  .wrap-carbon-calculate .introduce-inner h2 {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -1.12px;
    line-height: 2;
    text-align: center;
  }
  
  .wrap-carbon-calculate .introduce-inner p {
    margin-bottom: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
    line-height: 1.5;
  }
  
  .wrap-carbon-calculate .introduce-inner p span {
    color: #78E378;
    font-size: 30px;
    font-weight: 700;
  }
  
  .wrap-step-calculate {
    padding-block: 100px;
  }
  
  .wrap-step-calculate h4 {
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .wrap-step-calculate .stepwizard {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-row {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step {
    display: table-cell;
    position: relative;
    position: relative;
    text-align: left !important;
    text-align: center;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step:last-child::after {
    display: none;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step::after {
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 1px;
    transform: translateY(-50%);
    border-bottom: 1px dashed #e1e2e3;
    content: "";
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-primary,
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-primary:not(:disabled):not(.disabled).active,
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-primary:not(:disabled):not(.disabled):active,
  .wrap-step-calculate .stepwizard .stepwizard-step .show > .btn-primary.dropdown-toggle {
    border: 1px solid #0f723a !important;
    background: #0f723a !important;
    color: #fff !important;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-primary {
    position: relative;
    padding-left: 42px !important;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-primary::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 24px;
    width: 8px;
    height: 8px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    content: "";
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step p {
    margin-top: 10px;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step .btn-circle {
    padding: 10px 24px;
    border: 1px solid #e1e2e3;
    border-radius: 32px;
    background: #fff;
    color: #171717;
    font-size: 14px;
    text-align: center;
  }
  
  .wrap-step-calculate .stepwizard .last-step::after {
    display: none;
  }
  
  .wrap-step-calculate .stepwizard .stepwizard-step button[disabled] {
    filter: alpha(opacity=100) !important;
    opacity: 1 !important;
  }
  
  .wrap-step-calculate .wrap-form {
    margin-bottom: 24px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 1px 40px 0px rgba(132, 132, 132, 0.08);
  }
  
  .wrap-step-calculate .wrap-form .wrap-title {
    gap: 10px;
    align-items: center;
    margin-bottom: 36px;
  }
  
  .wrap-step-calculate .wrap-form .wrap-title h3 {
    color: #171717;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
  }
  
  .wrap-step-calculate .wrap-form .wrap-title button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #0f723a;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  
  .wrap-step-calculate .form label {
    margin-bottom: 8px;
    color: #646464;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.25px;
    line-height: 1.43;
  }
  
  .wrap-step-calculate .form .form-control {
    height: auto;
    padding: 10px 11px 11px;
    border: 1px solid #e1e2e3;
    border-radius: 8px;
    color: #171717;
    font-size: 14px;
  }
  
  .wrap-step-calculate .group-form .form-group.has-error .control-label {
    color: #a94442;
  }
  
  .wrap-step-calculate .group-form .form-group.has-error input {
    border: 1px solid #a94442;
  }
  
  .wrap-step-calculate .group-form .group-btn {
    justify-content: space-between;
  }
  
  .wrap-step-calculate .group-form .group-btn button {
    width: 180px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    background: #0f723a;
    box-shadow: 0px 4px 13.3px 0px rgba(49, 134, 49, 0.2);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }
  
  .wrap-step-calculate .group-form .group-btn button:hover {
    background: #fff;
  }
  
  .wrap-step-calculate .group-form .setup-content:first-child .group-btn {
    justify-content: end;
  }
  
  .note-form {
    padding-left: 20px;
  }
  
  .note-form li {
    margin-bottom: 20px;
    font-size: 14px;
    list-style: disc;
  }
  
  .steps .number,
  .current-info {
    display: none;
  }
  
  .content .title {
    display: none;
  }
  
  .process-block {
    margin-bottom: 30px;
  }
  
  .process-block .process {
    position: relative;
    width: 100%;
    height: 8px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #F4F2F7;
  }
  
  .process-block .process .process-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0f723a;
    transition: 0.2s ease-in-out;
  }
  
  .process-block .process-steps {
    margin-top: 3px;
    color: #646464;
    font-size: 14px;
  }
  
  .your-projects-calculate {
    padding: 32px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 40px 0px rgba(132, 132, 132, 0.08);
  }
  
  .your-projects-calculate .your-projects-title {
    margin-bottom: 36px;
  }
  
  .your-projects-calculate .your-projects-title h3 {
    /* 133.333% */
    color: #171717;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  
  .your-projects-calculate .your-projects-title a {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 6px;
    background-color: #0F723A;
    box-shadow: 0px 4px 13.3px 0px rgba(49, 134, 49, 0.2);
    color: #fff;
    text-decoration: none;
  }

.your-projects-calculate .projects-list .projects-item {
    min-height: 152px;
    padding: 16px 16px 16px;
    border-radius: 16px;
    background: #F2F7F4 url("../img/carbon-calculate/co2_icon.png") no-repeat right bottom;
    transition: 0.2s ease-in-out;
}
.your-projects-calculate .projects-list col-12 {
    position: relative;
}
.your-projects-calculate .projects-list .item-dropdown {
    position: absolute;
    right: 30px;
    top: 16px;
    cursor:pointer;
}
.your-projects-calculate .projects-list .item-dropdown .dropdown-content {
    position: absolute;
    width: 150px;
    background-color: #fff;
    right: 0;
    padding: 8px;
}
.your-projects-calculate .projects-list .item-dropdown .dropdown-content a {
    padding: 8px 16px;
    display: block;
    font-size: 14px;
    transition:0.2s ease-in-out;
}
.your-projects-calculate .projects-list .item-dropdown .dropdown-content a:hover {
    color: #171717;
    background-color: #F2F7F4;
    font-weight:bold;
}
.your-projects-calculate .projects-list .item-dropdown .dropdown-content{
    display:none;
}
.your-projects-calculate .projects-list .item-dropdown span {
    display: inline-block;
}
.your-projects-calculate .projects-list .item-dropdown .dropdown-content .delete a {
    color: #F5222D;
}
.your-projects-calculate .projects-list .projects-item .item-icon {
    margin-bottom: 20px;
    }
.your-projects-calculate .projects-list a {
    color: #171717;
}
.your-projects-calculate .projects-list a:hover .projects-item p.date,
.your-projects-calculate .projects-list a:hover {
    color: #fff;
}
.your-projects-calculate .projects-list a:hover .projects-item {
    background: #0F723A url("../img/carbon-calculate/co2_icon.png") no-repeat right bottom;
}
.your-projects-calculate .projects-list .projects-item h4 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    /* 150% */
    letter-spacing: 0.64px;
    line-height: 24px;
}
.your-projects-calculate .projects-list .projects-item .item-dropdown span {
    display: inline-block;
}
.your-projects-calculate .projects-list .projects-item p {
    font-size: 14px;
    margin-bottom:8px;
}
.your-projects-calculate .projects-list .projects-item p.date {
    font-size: 13px;
    color: #646464;
    transition: 0.2s ease-in-out;
    margin-bottom:0;
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
  .your-projects-calculate .projects-list .projects-item .date {

  }
  
  .accordion-wrap .accordion-item {
    margin-bottom: 16px;
  }
  
  .accordion-wrap .accordion-header {
    position: relative;
    padding: 18px 48px;
    border: 1px solid #E1E2E3;
    border-radius: 8px;
    background-color: #F4F2F7;
    color: #171717;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .accordion-wrap .accordion-header::before {
    position: absolute;
    top: 17px;
    left: 16px;
    width: 24px;
    height: 24px;
    background: url("../img/icon/arrows-accordion.png") no-repeat;
    content: '';
    transition: 0.2s ease-in-out;
  }
  
  .accordion-wrap .accordion-header.active::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .accordion-wrap .accordion-content {
    display: none;
    padding: 30px 20px 0;
  }
/*------------------ new -----------------*/


.font-bold {
    font-weight: bold;
}

.banner-Result {
    text-align: center;
    padding: 42px 0;
    background: #0F723A url("../img/icon_banner.webp") no-repeat 30% bottom;
}

    .banner-Result h2 {
        font-family: Arimo;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 112px;
        /* 200% */
        letter-spacing: -1.12px;
        color: #fff;
    }

.your-projects-calculate .breadcrumb-wrap {
    margin-bottom: 0;
}

.breadcrumb-inner {
    margin: 10px 0 30px;
    font-size: 14px;
}

    .breadcrumb-inner a {
        display: inline-block;
        margin-right: 20px;
        padding-right: 20px;
        background: url(../img/icon/breadcrumb_arrow.png) no-repeat right center;
        color: #646464;
        font-size: 14px;
    }

.custom-row {
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E2E3;
    padding: 18px 0;
}

.result-tabs .tabs {
    display: flex;
    border-bottom: 3px solid #0F723A;
    margin-bottom: 36px;
    flex-wrap: wrap;
}

    .result-tabs .tabs span {
        padding: 10px 20px;
        display: block;
        color: #646464;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

        .result-tabs .tabs span.active {
            background-color: #0F723A;
            color: #fff;
        }

.result-tabs .tabcontent h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.tabcontent-title strong {
    color: #646464;
}

.tabcontent-body span {
    color: #0F723A;
    font-weight: bold;
}

.tabcontent-body strong {
    padding: 6px 20px;
    font-weight: bold;
    background-color: #F4F2F7;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

#legend ul {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
}

    #legend ul li {
        width: 50%;
        display: flex;
        align-items: center;
    }

        #legend ul li .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: block;
            margin-right: 5px;
        }

.wrap-section {
    margin-bottom: 100px;
}

.tabcontent-title span {
    color: #646464;
}

.tabcontent table {
    font-size: 14px;
    width: 100%;
    margin-bottom: 50px;
}

    .tabcontent table th {
        vertical-align: middle;
        color: #646464;
        font-weight: bold;
        border-bottom: 1px solid #E1E2E3;
        padding: 0 0 20px 0;
    }

    .tabcontent table tr {
        text-align: center;
    }

    .tabcontent table td {
        padding: 20px 0;
        border-bottom: 1px solid #E1E2E3;
    }

.style-table {
    width: 200px;
    text-align: left;
}

.btn-myCalculate {
    text-align: center;
    margin-top: 40px;
}

.btn-myCalculate a {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    letter-spacing: 0.5px;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    background-color: #0F723A;
    border-radius: 6px;
}
.refrigerant-wrap {
    padding: 40px;
    background-color: #F2F7F4;
    margin-bottom: 32px;
    border-radius:8px;
}

    .refrigerant-wrap h5 {
        margin-bottom: 10px;
    }

.refrigerant-lft {
    width: 70%;
}

.refrigerant-rgt {
    width: 25%;
}

.wrap-step-calculate .refrigerant-rgt label {
    font-weight: bold;
    color: #171717;
}

.wrap-step-calculate .refrigerant-rgt .Total {
    width: 243px;
    background: #fff;
    padding: 20px 20px;
    border-radius: 8px;
}
/*------------------ new -----------------*/
.edit-content-wrap {
    background-color: #F2F7F4;
    padding: 70px 0 30px;
}
.edit-content {
    padding: 30px;
    box-shadow: 1px 1px 40px 0px rgba(132, 132, 132, 0.16);
    border-radius: 8px;
    background-color: #fff;
}
    .edit-content .wrap-inner {
        padding:10px;
    }
    .edit-content .wrap-title {
        margin-bottom:30px;
    }
    .edit-content .wrap-title img{
        margin-right:15px;
    }
    .edit-content .wrap-title h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .submit-button {
        border-top: 1px solid #E1E2E3;
        text-align: right;
        padding: 30px;
    }

    .submit-button button {
        border: none;
        padding: 12px 36px 13px 36px;
        font-size: 14px;
        font-weight: bold;
        background-color: #fff;
        display: inline-block;
        border: 1px solid #E1E2E3;
        border-radius: 8px;
    }

    .submit-button button.Save {
        background-color: #0F723A;
        color: #fff;
        border: 1px solid #0F723A;
    }
.process-remaining {
    width: 100px;
    position: absolute;
    bottom: 20px;
    right:30px;
}
.process-remaining .process-steps {
    font-size:10px;
}
.process-remaining .process {
    position: relative;
    width: 100%;
    height: 6px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #bbb9be;
}
.your-projects-calculate .projects-list a:hover .process-remaining .process .process-blue {
    background: #fff;
}
.process-remaining .process .process-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #0f723a;
    transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1000px) {
    .refrigerant-lft{
        width:100%
    }
    .refrigerant-rgt {
        width: 100%;
        padding: 20px;
    }
    .wrap-step-calculate .refrigerant-rgt .Total {
        width: 100%;
    }
}
    @media screen and (max-width: 640px) {
        .submit-button{
            padding:30px 0;
        }
        .refrigerant-wrap {
            padding: 20px;
        }
        .tabcontent table th {
            min-width: 150px;
        }

        .table-scroll {
            overflow: auto;
        }

        #Tab7 {
            overflow: hidden;
        }

        .wrap-carbon-calculate .introduce,
        .wrap-about .introduce {
            background-position: center !important;
            background-size: cover !important;
        }

        .wrap-carbon-calculate .introduce-inner h2 {
            font-size: 34px;
        }

        .wrap-carbon-calculate .introduce-inner p {
            font-size: 14px;
        }

            .wrap-carbon-calculate .introduce-inner p br {
                display: none;
            }

        .wrap-carbon-calculate .wrap-form {
            padding: 15px;
        }

            .wrap-carbon-calculate .wrap-form .form .form-control {
                font-size: 14px;
            }

        .wrap-step-calculate {
            padding-block: 50px;
        }

            .wrap-step-calculate .stepwizard .stepwizard-step .btn-circle {
                padding: 10px 15px;
            }

            .wrap-step-calculate .group-form .group-btn button {
                width: 110px;
                font-size: 16px;
            }

        .your-projects-calculate {
            padding: 16px;
        }

            .your-projects-calculate .your-projects-title h3 {
                font-size: 18px;
            }

        .delete-row {
            margin: 0 auto 20px;
        }

        .banner-Result h2 {
            font-size: 30px;
            line-height: 80px;
        }

        .banner-Result {
            padding: 30px 0;
            background-size: 100px;
            background-position: 0 100%;
        }
    }

    /* ----------------- calculate ----------------------*/