
.contentPage {
  margin:0 0 50px;
}
.wrap-inner {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background: #e9e9e9;
    padding: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrap-inner h1 img{
    width:120px;
    margin-bottom:40px
}
#form-search input {
    height: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}
.g-recaptcha > div{
    margin: 0 auto;
}
#form-search button {
    margin-top: 30px;
    color: #27282d;
    background-color: #ffd200;
    padding: 10px 30px;
    border:none;
}
.content-result {
    width: 1000px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    font-size: 14px;
}
.result-header {

    position:relative;
}
.result-header h1 {
    font-size: 20px;
    color: blue;
}
.result-title {
    padding-left: 190px;
}
.result-logo img{
    width:135px;
}
.result-logo {
    position: absolute;
    top: 10px;
    left: 20px;
}
.result-symbol{
    position:absolute;
    top:0px;
    right:0;
}
.result-symbol p{
    margin-bottom:7px;
}
.result-caption{
    text-align:center;
    margin-bottom:30px;
}
.result-caption h2 {
    margin-top: 40px;
    font-size: 30px;
    text-transform: uppercase;
    color: #1d1db7;
}
.font-bold {
    font-weight: bold;
}
.result-body table{
    width:100%
}
table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    vertical-align: middle !important;
}

th, td {
    padding: 10px 5px;
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-lft {
    text-align: left;
}
.result-body{
    margin-bottom:5px;
}
.btn-back {
    position: relative;
    top: -60px;
    display: inline-block;
    padding-left: 20px
}
    .btn-back:before {
        content: "";
        position: absolute;
        background-image: url('../img/icon/breadcrumb_arrow.png');
        background-repeat: no-repeat;
        background-size: 5px auto;
        width: 7px;
        height: 16px;
        left: 0;
        transform: rotate(180deg);
    }