/* ----------------- News ----------------------*/
.breadcrumb-common {
    margin-bottom: 20px;
    padding-top: 60px;
}

.breadcrumb-common .breadcrumb-inner a {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    background: url("../img/icon/breadcrumb_arrow.png") no-repeat right center;
    color: #646464;
    font-size: 14px;
}

.new-detail .detail-title h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    /* 133.333% */
    letter-spacing: -0.72px;
    line-height: 48px;
}

.new-detail .detail-title p {
    margin-bottom: 24px;
    color: #646464;
}

.content-detail {
    width: 1060px;
    margin: 0 auto;
    padding: 60px 0;
}

.content-detail h3 {
    margin: 36px 0 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}

.content-detail ul {
    margin-left: 20px;
}

.content-detail ul li {
    list-style: disc;
}

.standard-service h2 {
    color: #0F723A;
    font-family: Arimo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    /* 205.556% */
    letter-spacing: -0.72px;
    line-height: 74px;
}

.standard-service p {
    color: #646464;
}

.features-Uses {
    padding: 80px 0;
    background-color: #0F723A;
}

.features-Uses h2 {
    margin-bottom: 20px;
    /* 133.333% */
    color: #26B625;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.features-Uses .features-content .features-content-item {
    width: 30%;
}

.features-Uses .features-content .features-content-item h3 {
    margin-bottom: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 50px;
}

.features-Uses .features-content .features-content-item p {
    color: #fff;
}

.service-description {
    padding: 60px 0;
}

.service-description .block-description {
    padding-bottom: 60px;
}

.service-description .block-description #btnSeeMore {
    display: none;
    position: relative;
    text-align: center;
}

.service-description .block-description #btnSeeMore a {
    display: inline-block;
    color: #097DB9;
}

.service-description .block-description #textContainer {
    max-height: 170px;
    overflow: hidden;
}

.service-description .block-description .textContainer {
    overflow: inherit !important;
}

.service-description .block-description h2 {
    margin-bottom: 24px;
    /* 150% */
    color: #0F723A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.service-description .block-description .read-more-content {
    margin-bottom: 10px;
    color: #646464;
    text-align: justify;
}

.service-description .service-process {
    padding-top: 24px;
    border-top: 1px solid #F4F2F7;
}

.service-description .service-process .image {
    margin-right: 16px;
}

.service-description .service-process .image img {
    min-width: 80px;
}

.service-description .service-process h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    /* 150% */
    letter-spacing: -0.4px;
    line-height: 30px;
}

.service-description .service-process p {
    color: #646464;
}

.service-description .service-process .service-process-item {
    margin-bottom: 60px;
}

.section-latestNews {
    padding: 60px 0;
    background: linear-gradient(180deg, rgba(244, 242, 247, 0) 0%, #F4F2F7 100%);
}

.section-latestNews .title-services {
    margin-bottom: 48px;
}

    .section-latestNews .latestNews-content .latestNews-item {
        width: 31%;
        padding: 16px 16px 20px;
        border-radius: 16px;
        box-shadow: 1px 1px 40px 0px rgba(132, 132, 132, 0.16);
        margin-right: 29px
    }
    .section-latestNews .latestNews-content .latestNews-item:nth-child(2n+1){
        margin-right:0
    }
        .section-latestNews .latestNews-content .latestNews-item:first-child {
            margin-right: 29px;
        }
        .section-latestNews .latestNews-content .latestNews-item .latestNews-image {
            margin-bottom: 24px;
        }

.section-latestNews .latestNews-content .latestNews-item .latestNews-body p {
    margin-bottom: 20px;
}

.section-latestNews .latestNews-content .latestNews-item .latestNews-body a {
    display: inline-block;
    position: relative;
    color: #0F723A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.section-latestNews .latestNews-content .latestNews-item .latestNews-body a::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    background-color: #0F723A;
    content: "";
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section-latestNews .latestNews-content .latestNews-item .latestNews-body a:hover::before {
    width: 0%;
}

.section-latestNews .latestNews-content .latestNews-item .latestNews-body .date {
    color: #646464;
}
 
.section-latestNews {
    padding: 60px 0;
    background: linear-gradient(180deg, rgba(244, 242, 247, 0) 0%, #F4F2F7 100%);
  }
  
  .section-latestNews .title-services {
    margin-bottom: 48px;
  }
  
  .section-latestNews .latestNews-content .latestNews-item {
    width: 31%;
    padding: 16px 16px 20px;
    border-radius: 16px;
    box-shadow: 1px 1px 40px 0px rgba(132, 132, 132, 0.16);
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-image {
    margin-bottom: 24px;
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-body p {
    margin-bottom: 20px;
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-body a {
    display: inline-block;
    position: relative;
    color: #0F723A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-body a::before {
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    background-color: #0F723A;
    content: "";
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-body a:hover::before {
    width: 0%;
  }
  
  .section-latestNews .latestNews-content .latestNews-item .latestNews-body .date {
    color: #646464;
  }
.load-more{
    text-align: center;
}
    .load-more a {
        color: #171717;
        padding: 14px 24px;
        background: #0F723A;
        color: #fff;
        border-radius: 6px;
    }
    .load-more button {
        color: #171717;
        padding: 14px 24px;
        background: #0F723A;
        color: #fff;
        border-radius: 6px;
        border: 0px;
    }

@media screen and (max-width: 1000px) {

    .service-description .block-description,
    .content-detail {
        width: 100%;
    }

    .section-latestNews .latestNews-content .latestNews-item {
        width: 47%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 640px) {
    .breadcrumb-common {
        padding-top: 30px;
    }

    .new-detail .detail-title h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .content-detail h3 {
        margin: 20px 0 7px;
        font-size: 16px;
        line-height: 24px;
    }

    .features-Uses h2 {
        font-size: 18px;
    }

    .features-Uses .features-content .features-content-item {
        width: 100%;
        margin-bottom: 30px;
    }

    .features-Uses .features-content .features-content-item h3 {
        padding-bottom: 10px;
    }

    .service-description .service-process h3 {
        font-size: 18px;
    }

    .standard-service h2 {
        font-size: 20px;
        line-height: 50px;
    }

    .standard-service p {
        text-align: justify;
    }

    .features-Uses {
        padding: 30px 0;
    }

    .section-latestNews .latestNews-content .latestNews-item {
        width: 100%;
        margin-bottom: 20px;
        margin-right:0 !important;
    }

    .justify-content-between {
        flex-wrap: wrap;
    }

    .section-latestNews .latestNews-content .latestNews-item .latestNews-body a {
        font-size: 14px;
    }

    .section-latestNews .title-services {
        margin-bottom: 30px;
    }

    .section-latestNews {
        padding: 40px 0;
    }
    
}

/* ----------------- News ----------------------*/