.pdtop {
    padding-top: 100px;
}

@media print {
    @page {
        margin: 0 0; /* Loại bỏ các viền */
    }

    body {
        margin: 0; /* Loại bỏ margin của body */
    }

    .flex-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important
    }

    .justify-content-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }

    .header-print {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Footer */
    .footer-print {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
    }

    body {
        padding-top: 300px; /* Đảm bảo nội dung không bị che phủ bởi header */
        padding-bottom: 180px; /* Đảm bảo nội dung không bị che phủ bởi footer */
    }

    .page-break {
        page-break-before: always; /* Chuyển sang trang mới trước khi bắt đầu block mới */
        /* Các thuộc tính khác cho phần tử block */
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .pdtop {
        padding-top: 300px;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}
.wrap-cat,
.p-header,
.p-footer {
    display: none;
}
.bg-print {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}

.tab-content {
    margin-bottom: 70px;
}

.footer-print img {
    max-width: 90%;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

h4 {
    font-size: 26px;
    margin-bottom: 30px;
}

.print-container {
    width: 1200px;
    margin: 0 auto;
}

.accordion-content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.mgbotttom {
    margin-bottom: 50px;
}

.tab-content {
    display: block !important;
}

.tabcontent-title span {
    color: #646464;
}

.tab-content table {
    font-size: 14px;
    width: 100%;
    margin-bottom: 50px;
}

    .tab-content table th {
        vertical-align: middle;
        color: #646464;
        font-weight: bold;
        border-bottom: 1px solid #E1E2E3;
        padding: 0 0 20px 0;
    }

    .tab-content table tr {
        text-align: center;
    }

    .tab-content table td {
        padding: 20px 0;
        border-bottom: 1px solid #E1E2E3;
    }
