<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddl-show-page" class="custom-select custom-select-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            Total: <strong id="lbl-total-records"></strong>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate" id="datatable-checkbox_paginate">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>