@using Microsoft.AspNetCore.Mvc.Localization
@model BusinessLogic.Dtos.Pages.PagesDetailDto
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["TermsOfUse"];
}
@section Styles {
    <link href="~/assets/landing-page/css/services.css" rel="stylesheet" media="all" />
}
<div class="wrap-carbon-calculate">
    <div class="introduce">
        <div class="container">
            <div class="introduce-inner">
                <h2>@Localizer["TermsOfUse"]</h2>
            </div>
        </div>
    </div>
</div>
<div class="wrap-services our-services">
    <div class="container">
        @Html.Raw(Model.Content)
    </div>
</div>