<div id="modal-add-edit" class="modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position: fixed; left: 38%; top: 49%; transform: translate(-50%, -50%);">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 50rem">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formMaintainance">
                    <div class="tab-content">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" id="hidId" value="0" />
                                <label for="txtStatusRoom" class="control-label no-padding-right">Trạng thái phòng <span class="text-danger">*</span></label>
                                <select class="custom-select" id="txtStatusRoom" name="txtStatusRoom">
                                    <option value="">Trạng thái phòng</option>
                                    <option value="0">Sẳn sàng phục vụ</option>
                                    <option value="1">Đang phục vụ</option>
                                    <option value="2">Đang kiểm tra</option>
                                </select>
                            </div>
                        </div>                          
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>