@model List<BusinessLogic.Dtos.RoomTypes.RoomTypesResponse>
@{
    ViewData["Title"] = "Quản lý Nhận/Trả phòng";
}
@section Styles {
    <link href="~/assets/admin/css/responsive.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/admin-app/controllers/checkInCheckOut/index.js" asp-append-version="true"></script>
    <script>
        var roomsObj = new CheckInCheckOutController();
        roomsObj.initialize();
    </script>
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item active">Quản lý nhận và trả phòng</li>
                </ol>
            </div>
            <h4 class="page-title">Quản lý nhận và trả phòng</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 form-group row">
                        <label class="col-sm-auto col-form-label" for="searchRoleName">Tên vai trò</label>
                        <div class="col-sm-3">
                            <select class="custom-select" id="searchRoomStatus">
                                <option value="">Trạng thái phòng</option>
                                <option value="0">Sẳn sàng phục vụ</option>
                                <option value="1">Đang phục vụ</option>
                                <option value="2">Đang kiểm tra</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-6 col-md-4 col-sm-12 form-group d-flex flex-wrap align-items-center">
                            <label class="col-sm-auto col-12 col-form-label" for="txtKeyword">Tìm kiếm</label>
                            <div class="col-sm-6 col-lg-6 col-12">
                                <input type="text" id="txtKeyword" class="form-control" placeholder="Tên phòng, loại phòng">
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="scroll-table">
                    <div class="table-wrap">
                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                            <thead>
                                <tr class="font-weight-bold text-dark">
                                    <th>Stt</th>
                                    <th>Phòng</th>
                                    <th>Loại phòng</th>
                                    <th>Địa điểm phòng</th>
                                    <th>Trạng thái Phòng</th>
                                    <th class="action-columns">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content">
                                <tr id="spinnerRow">
                                    <td colspan="10" style="text-align: center;">
                                        <div id="spinner" class="spinner-border text-primary" role="status">
                                            <div class="loader"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <partial name="_PaginationPartial" />
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Order}}</td>
        <td>{{Name}}</td>
        <td>{{RoomTypes}}</td>
        <td>{{Location}}</td>
        <td>{{{StatusRoom}}}</td>
        <td class="text-center action-columns">
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-info btn-edit" ><i class="fe-edit-2"></i></a>
        </td>
    </tr>
</script>

<partial name="_AddEditModal.cshtml" />
