@{
    ViewData["Title"] = "Quản lý phản hồi";
}

@section Scripts {
    <script src="~/admin-app/controllers/feedBack/index.js" asp-append-version="true"></script>
    <script>
        var feedBackObj = new FeedBackController();
        feedBackObj.initialize();
    </script>
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item active">Quản lý phản hồi</li>
                </ol>
            </div>
            <h4 class="page-title">Quản lý phản hồi</h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10 form-group row">
                        <label class="col-sm-auto col-form-label" for="txtKeyword">Tìm kiếm</label>
                        <div class="col-sm-3">
                            <input type="text" id="txtKeyword" class="form-control" placeholder="Tiêu đề">
                        </div>
                    </div>
                </div>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr class="font-weight-bold text-dark">
                            <th>Stt</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th>Trả lời</th>
                            <th>Người trả lời</th>
                            <th>Ngày tạo</th>
                            <th class="action-columns">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content">
                        <tr id="spinnerRow">
                            <td colspan="10" style="text-align: center;">
                                <div id="spinner" class="spinner-border text-primary" role="status">
                                    <div class="loader"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <partial name="_PaginationPartial" />
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Order}}</td>
        <td>{{Name}}</td>
        <td>{{Email}}</td>
        <td>{{Title}}</td>
        <td class="long-col">{{Content}}</td>
        <td class="long-col">{{Reply}}</td>
        <td>{{ReplyBy}}</td>
        <td>{{CreatedOn}}</td>
        <td class="text-center action-columns">
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-info btn-edit" ><i class="fe-edit-2"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-danger btn-delete"><i class="fe-trash-2"></i></a>
        </td>
    </tr>
</script>

<partial name="_AddEditModal.cshtml" />
