<div id="modal-add-edit" class="modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formMaintainance">
                    <div class="tab-content">
                        <div class="form-group col-sm-12">
                            <input type="hidden" id="hidId" value="0" />
                            <label for="txtRoomTypeId" class="control-label no-padding-right">Loại phòng <span class="text-danger">*</span></label>
                            <select class="custom-select" id="txtRoomTypeId" name="txtRoomTypeId">
                                <option value="0">--</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtName" class="col-sm-auto control-label no-padding-right">Tên phòng <span class="text-danger">*</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Tên phòng ">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="txtRoomCode" class="col-sm-auto control-label no-padding-right">Mã phòng </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtRoomCode" name="txtRoomCode" placeholder="Mã phòng ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtPrice" class="col-sm-auto control-label no-padding-right">Giá phòng <span class="text-danger">*</span></label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtPrice" name="txtPrice" placeholder="Giá phòng ">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtLocation" class="col-sm-auto control-label no-padding-right">Địa điểm </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtLocation" name="txtLocation" placeholder="Địa điểm ">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtAcreage" class="col-sm-auto control-label no-padding-right">Diện tích (m2)</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtAcreage" name="txtAcreage" placeholder="Diện tích ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtAdult" class="col-sm-auto control-label no-padding-right">Người lớn </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtAdult" name="txtAdult" placeholder="Người lớn ">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtKid" class="col-sm-auto control-label no-padding-right">Trẻ em </label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtKid" name="txtKid" placeholder="Trẻ em ">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtViews" class="col-sm-auto control-label no-padding-right">Lượt xem</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="txtViews" name="txtViews" placeholder="Lượt xem ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" class="col-sm-auto control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control" id="txtDescription" name="txtDescription" placeholder="Mô tả"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtImage" class="col-sm-2 control-label no-padding-right">Hình ảnh</label>
                            <div class="d-flex">
                                <div class="col-sm-10" style="display:none">
                                    <input type="text" class="form-control" id="txtImageShow" disabled />
                                    <input type="text" class="form-control" id="txtImage" name="txtImage" hidden />
                                    <input type="file" id="fileInputImage" style="display:none" />
                                </div>
                                <div class="col-sm-2">
                                    <img id="imagePreview" src="~/assets/images/user.png" alt="Preview" style="max-width: 100px; max-height: 100px;" />
                                </div>
                            </div>
                            <div class="col-sm-2 mt-1">
                                <input type="button" style="width:100px" id="btnSelectImg" class="btn btn-primary" value="Chọn ảnh" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox pl-4">
                                <input type="checkbox" class="custom-control-input" checked="checked" id="ckStatus" name="ckStatus">
                                <label class="custom-control-label" for="ckStatus">Hành động</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                <button type="button" id="btnSaveAndContinue" class="btn btn-success">Lưu và Tiếp tục</button>
                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>