<div id="modal-add-edit" class="modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formMaintainance">
                    <ul class="nav nav-pills navtab-bg">
                        <li class="nav-item">
                            <a href="#english" data-toggle="tab" aria-expanded="true" class="nav-link active ml-0">
                                <img src="~/assets/admin/images/flags/us.jpg" alt="user-image" class="mr-1" height="12">English
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#vietnamese" data-toggle="tab" aria-expanded="false" class="nav-link">
                                <img src="~/assets/admin/images/flags/vi.jpg" alt="user-image" class="mr-1" height="12">Vietnamese
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="english">
                            <div class="form-group">
                                <input type="hidden" id="hidId" value="0" />
                                <label for="txtTitle" class="col-sm-auto control-label no-padding-right">Title(*)</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="txtTitle" name="txtTitle" placeholder="Title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtDescription" class="col-sm-auto control-label no-padding-right">Description(*)</label>
                                <div class="col-sm-12">
                                    <textarea type="text" class="form-control" id="txtDescription" name="txtDescription" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="vietnamese">
                            <div class="form-group">
                                <label for="txtTitleVi" class="col-sm-auto control-label no-padding-right">Title Vietnamese(*)</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="txtTitleVi" name="txtTitleVi" placeholder="Title Vietnamese">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtDescriptionVi" class="col-sm-auto control-label no-padding-right">Description Vietnamese(*)</label>
                                <div class="col-sm-12">
                                    <textarea type="text" class="form-control" id="txtDescriptionVi" name="txtDescriptionVi" placeholder="Description Vietnamese"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtImage" class="col-sm-2 control-label no-padding-right">Image(*)</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtImageShow" disabled />
                                <input type="text" class="form-control" id="txtImage" name="txtImage" hidden />
                                <input type="file" id="fileInputImage" style="display:none" />
                            </div>
                            <div class="col-sm-2 mt-1">
                                <input type="button" id="btnSelectImg" class="btn btn-primary" value="Browser" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox pl-4">
                                <input type="checkbox" class="custom-control-input" checked="checked" id="ckStatus" name="ckStatus">
                                <label class="custom-control-label" for="ckStatus">Active</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Save</button>
                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>