<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\WebApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
<!--ProjectGuid: 1cd1bd02-62ba-4501-9089-db7a998fa823-->
